<!-- FEATURED PROJECT -->
<section class="section has-panel-feature" style="background-image: url(/assets/img/layout/section-bg-1.jpg)" alt="Office Background">
    <div class="container">
        <div class="row no-gutters justify-content-end">
            <div class="col-md-6">
                <div class="panel-feature text-right">
                    <h3 class="mb-4">Featured Project</h3>
                    <h4 class="mb-3">Project Title Goes Here</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p><a class="btn btn-outline-secondary" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>