{% assign settings = site.data.settings %}
{% assign offices = settings.offices %}
{% assign logo = "/assets/img/content/logo-inverse.png" %}

<!-- FOOTER TOP -->
<section class="global-footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5 col-xl-5">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-xl-6">

                        <!-- LOGO -->
                        <p class="mb-4">
                            <a class="logo" href="/" title="{{ settings.title_homepage }}" itemprop="url">
                                <img width="144" src="{{ logo }}" alt="{{ settings.company }}" itemprop="logo">
                            </a>
                        </p>

                        <!-- OFFICES -->
                        <ul class="offices list-unstyled mb-3">
                            {% for item in offices %}
                                <li><a href="/contact/#{{item.title | downcase}}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>

                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-6">

                        <!-- SOCIAL MEDIA -->
                        <ul class="social-media mb-3">
                            <li><a class="facebook" href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="linked-in" href="{{ settings.linked_in }}"><i class="fa fa-linkedin"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-7 col-xl-7">

                <!-- NEWSLETTER SIGN UP -->
                <form class="form-newsletter ml-auto">
                    <div class="row justify-content-end align-items-center">
                        <div class="col-lg-5">
                            <p class="mb-lg-0"><span class="fa fa-comment"></span>&nbsp; Newsletter Sign-up</p>
                        </div>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"><span class="fa fa-angle-right"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- STAMPS -->
                <div class="stamps">
                    <a href="#"><img src="/assets/img/content/stamp-1.png" alt="Green Building Concil Australia"></a>
                    <a href="#"><img src="/assets/img/content/stamp-2.png" alt="Certified System"></a>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container text-right">
        <small>
            <a class="author-logo" target="_blank" href="{{ settings.author.url }}">
                <span class="text">{{ settings.author.description }}</span>&nbsp;&nbsp;
                <img width="20" height="20" src="{{ settings.author.logo }}" alt="Created by {{ settings.author.title }}">
            </a>
        </small>
    </div>
</section>