{% assign settings = site.data.settings %}
{% assign logo_1 = "/assets/img/content/logo@2x.png" %}
{% assign logo_2 = "/assets/img/content/logo--sustain.svg" %}

<div class="container-fluid">

    <!-- LOGOS -->
    <div class="logos">

        <!-- LOGO DEFAULT -->
        <a class="logo is-default" href="/" title="{{ settings.title_homepage }}" itemprop="url">
            <img src="{{ logo_1 }}" alt="{{ settings.company }}" itemprop="logo">
        </a>

        <!-- LOGO SUSTAIN -->
        <a class="logo is-sustain" href="/" title="Erbas Sustain" itemprop="url">
            <img src="{{ logo_2 }}" alt="Erbas Sustain" itemprop="logo">
        </a>

    </div>

    <!-- HAMBURGER -->
    <div class="global-header-hamburger hidden-xl-up">
        <div class="lv-hamburger" data-menu-toggle>
            <span class="lv-hamburger-top"></span>
            <span class="lv-hamburger-middle"></span>
            <span class="lv-hamburger-bottom"></span>
            <span class="lv-hamburger-hit"></span>
        </div>
    </div>

    <!-- NAVIGATION -->
    <nav class="lv-topbar is-default hidden-lg-down">
        {% include snippets/navigation.html %}
    </nav>

    <!-- SUSTAIN NAVIGATION ** FOR DEMO PURPOSES ONLY ** -->
    <nav class="lv-topbar is-sustain hidden-lg-down">
        {% include snippets/navigation.html data=site.data.sitemap_sustain %}
    </nav>

</div>