{% comment %}
    LIQUIDVISUAL-HERO

    - Updated: 23.04.17
    - Notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-height-preset-1 - used for internal pages to set a height
{% endcomment %}

{% assign hero = page.hero | default: '/assets/img/content/hero-1.jpg' %}
{% assign page_title = page.title %}
{% assign lead = page.lead %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('{{ hero }}')"></div>

    </div> <!-- /.lv-hero -->

    <!-- PANEL FEATURE -->
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-8 col-xl-7">
                <div class="panel-feature">
                    <h1>{{ page_title }}</h1>
                    <p class="mb-0">{{ lead }}</p>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /.lv-hero-wrapper -->