{% comment %}
<!--
    LIQUIDVISUAL-HERO

    - Updated: 10.05.17
    - Notes:
        * .has-height-preset-1 - used for internal pages to set a height
-->
{% endcomment %}

{% assign heading = page.title %}
{% assign lead = page.lead %}
{% assign slides = site.data.carousel_slides %}

<!-- HERO WRAPPER -->
<div class="lv-hero-wrapper">

    <!-- SUBTLE GRADIENT -->
    <div class="subtle-gradient"></div>

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEMS -->
        {% for item in slides %}
            <div class="lv-hero-item" style="background-image: url('{{ item.image }}')"></div>
        {% endfor %}

    </div> <!-- /.lv-hero -->

    <!-- PANEL FEATURE -->
    <div class="lv-hero-caption">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-8 col-xl-7">
                    <div class="panel-feature">
                        <h1>{{ heading }}</h1>
                        <p class="mb-0">{{ lead }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <!-- CAROUSEL CONTROLS -->
    <div class="lv-hero-carousel-controls">
        <div class="container">
            <span href="#" class="lv-hero-carousel-prev-btn"><i class="fa fa-angle-left"></i></span>
            <span href="#" class="lv-hero-carousel-next-btn"><i class="fa fa-angle-right"></i></span>
        </div>
    </div>

    <!-- CAROUSEL BULLETS -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="lv-hero-carousel-bullets"></div>
            </div>
        </div>
    </div>
    {% endcomment %}

</div> <!-- /.lv-hero-wrapper -->