/*
    VARIABLES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// GLOBAL VARS (USE PIXELS)
//-----------------------------------------------------------------

$fa-font-path: "/assets/fonts";
$header-sm-height: 60px; // optimal
$header-md-height: 90px;
$header-lg-height: 126px;

//=========================================
//
//=========================================