/*
    FOOTER.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER GENERAL
//-----------------------------------------------------------------

.global-footer {
	background: #1f3569; //$brand-primary;
	color: white;

	a {
		color: white;
	}
}

.global-footer .logo.is-sustain {
	display: none;
}

//-----------------------------------------------------------------
// FOOTER TOP
//-----------------------------------------------------------------

.global-footer-top {
	padding: rem-calc(40 0 40 0);

	@include media-breakpoint-up(md) {
	    padding: rem-calc(70 0 40 0);
	}

	.offices a {
		font-size: rem-calc(23);
	}

	.stamps {
		display: flex;
		align-items: flex-end;

		@include media-breakpoint-up(md) {
		    justify-content: flex-end;
		}

		a:last-child img {
			@include media-breakpoint-down(sm) {
			    position: relative;
			    left: -20px;
			}
		}

		img {
			@include media-breakpoint-up(md) {
			    margin: 0 0 0 $spacer;
			}

			@include media-breakpoint-down(sm) {
			    width: 80%;
			}
		}
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	padding: rem-calc(15 0);
	border-top: 1px solid rgba(white, 0.1);
	font-size: rem-calc(14);
	color: rgba(white, 0.2);

	.author-logo {
		img {
			opacity: 0.5;
		}

		.text {
			text-transform: uppercase;
			color: rgba(white, 0.3);
		}
	}
}

//=========================================
//
//=========================================