/*
    BREADCRUMBS.CSS

    - Last updated: 05.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// BREADCRUMB OVERRIDE
//--------------------------------------------------------------------

.breadcrumb {
	margin-bottom: 0; // reset
	font-size: rem-calc(13);
	font-weight: 500;
	text-transform: uppercase;
	color: #c9ccd4;

	@include media-breakpoint-down(sm) {
	    padding-left: 0; // last min hack
	}

	a {
		color: #9299ab;
	}
}

//-----------------------------------------------------------------
// DIVIDER OVERRIDE
//-----------------------------------------------------------------

.breadcrumb-item + .breadcrumb-item::before {
	content: "\f105";
	font-family: 'FontAwesome';
	color: #9299ab;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================