/*
    CARDS.CSS

    - Last updated: 23.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
//
//--------------------------------------------------------------------

.card {
	font-size: rem-calc(14);

	//=========================================
	// IMAGE
	//=========================================

	.card-img-top {
		position: relative;
		overflow: hidden;
		margin-bottom: $spacer;

		.card-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			transition: transform 300ms ease
		}
	}

	//=========================================
	// CARD BLOCK
	//=========================================

	.card-block {
		padding: 0;

		h1, h2, h3, h4, h5, h6 {
			min-height: rem-calc(46);
		}

		date {
			display: block;
			margin-bottom: $spacer;
			font-size: rem-calc(13);
			font-weight: 500;
			color: $body-color;
			text-transform: uppercase;
		}

		p {
			margin-bottom: $spacer;
			color: $body-color;
		}
	}

	//=========================================
	// HOVERS
	//=========================================

	&:hover .card-bg {
		@include media-breakpoint-up(xl) {
			transform: scale(1.05);
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================