/*
    LISTS.CSS

    - Last updated: 05.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// LISTS
//-----------------------------------------------------------------
//--------------------------------------------------------------------
//
//--------------------------------------------------------------------

//=========================================
// USED ON MASONRY SPECIALS (Homepage)
//=========================================

.block-grid-condensed {
    margin: -10px;

    li {
        padding: 10px;
    }
}

//=========================================
// HACKY
//=========================================

.block-grid-xs-1 {
	@include media-breakpoint-down(md) {
	    margin: -10px;

	    li {
	        padding: 10px;
	    }
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================