/*
    LISTS.CSS

    - Last updated: 05.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// LISTS
//-----------------------------------------------------------------
//--------------------------------------------------------------------
//
//--------------------------------------------------------------------

//=========================================
// USED ON MASONRY SPECIALS (Homepage)
//=========================================

.block-grid-condensed {
    margin: -10px;

    li {
        padding: 10px;
    }
}

//=========================================
// HACKY
//=========================================

.block-grid-xs-1 {
	@include media-breakpoint-down(md) {
	    margin: -10px;

	    li {
	        padding: 10px;
	    }
	}
}

//-----------------------------------------------------------------
// LIST MASONRY
//-----------------------------------------------------------------

.list-masonry {
    column-gap: 10px;

    // MOBILE SCROLLER
    @include media-breakpoint-down(sm) {
        // white-space: nowrap;
        // overflow-x: scroll;
        // -webkit-overflow-scrolling: touch;

        column-count: 2;
    }

    @include media-breakpoint-up(md) {
        column-count: 2;
    }

    img {
        margin-bottom: 10px;

        @include media-breakpoint-down(sm) {
            // width: 200px;
        }
    }
}

//=========================================
//
//=========================================