/*
    SECTIONS.CSS

    - Last updated: 23.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
//
//--------------------------------------------------------------------

.section {
	padding: rem-calc(70 0);
	background-position: center center;
	background-size: cover;

	&.has-panel-feature {
		padding: 0;
		margin-bottom: 50px + 70px;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------



//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================