/*
    SOCIAL-MEDIA.CSS

    - Last updated: 04.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// SOCIAL MEDIA
//--------------------------------------------------------------------

.social-media {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin-right: rem-calc(10);
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
		line-height: 0;
		font-size: rem-calc(23);
		color: white;
		text-align: center;
		border-radius: 100%;
		background: red;

		//=========================================
		// FACEBOOK
		//=========================================

		&.facebook {
			background: #3b5997;

			&:hover {
				background: lighten(#3b5997, 10%);
			}
		}

		//=========================================
		// INSTAGRAM
		//=========================================

		&.instagram {
			background: #c13583;

			&:hover {
				background: lighten(#c13583, 10%);
			}
		}

		//=========================================
		// LINKED IN
		//=========================================

		&.linked-in {
			background: #0082bf;

			&:hover {
				background: lighten(#0082bf, 10%);
			}
		}
	}

}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================