/*
    TYPE.CSS

    - Last updated: 16.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
  @include media-breakpoint-up(xs) { font-size: rem-calc(14); }
  @include media-breakpoint-up(md) { font-size: rem-calc(14); }
  @include media-breakpoint-up(lg) { font-size: rem-calc(14); }
  @include media-breakpoint-up(xl) { font-size: rem-calc(16); }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color ease 300ms, background-color ease 300ms;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol, td {
    @include media-breakpoint-up(lg) {
        // font-size: rem-calc(17); //$font-size-lg; //15
    }
}

//-----------------------------------------------------------------
// LEAD
//-----------------------------------------------------------------

.lead {
    @include media-breakpoint-down(sm) {
        font-size: rem-calc(18);
    }
}

//-----------------------------------------------------------------
// PAGE CONTENT PARAGRAPHS (STYLISTIC CHOICE)
//-----------------------------------------------------------------

.page-content {
    p {
        @include media-breakpoint-up(md) {
            margin-bottom: $spacer * 1.5;
        }
    }

    h3, h4, h5,
    .h3, .h4, .h5 {
        color: $body-color;
    }

    .fa {
        font-size: rem-calc(20);
    }
}

//-----------------------------------------------------------------
// SPACER
//-----------------------------------------------------------------

.spacer {
	width: 1px;
	height: 1px;
}

//=========================================
//
//=========================================

.divider {
    border-bottom: 1px solid #f5f5f5;
}

//-----------------------------------------------------------------
// RESPONSIVE HEADINGS
//-----------------------------------------------------------------

@mixin responsive-headings($tag-name, $font-size, $multiplier) {
  $selector: "#{$tag-name}, .#{$tag-name}";

  #{$selector} {
    font-size: $font-size * (1 - (0.4 * $multiplier));
  }

  @include media-breakpoint-up(xs) {
    #{$selector} {
      font-size: $font-size * (1 - (0.2 * $multiplier));
    }
  }
  @include media-breakpoint-up(md) {
    #{$selector} {
      font-size: $font-size * (1 - (0.1 * $multiplier));
    }
  }
  @include media-breakpoint-up(lg) {
    #{$selector} {
      font-size: $font-size;
    }
  }
}

@include responsive-headings('h1', $font-size-h1, 1);
@include responsive-headings('h2', $font-size-h2, 1);
// @include responsive-headings('h3', $font-size-h3, 0.2);
// @include responsive-headings('h4', $font-size-h4, 0.7);
// @include responsive-headings('h5', $font-size-h5, 0.6);
// @include responsive-headings('h6', $font-size-h6, 0.5);