---
layout: base
---

{% assign hero = page.hero | default: "/assets/img/content/hero-1.jpg" %}
{% assign parent_links = site.data.sitemap[page.parent_index].children %}
{% assign parent_links_columns = page.parent_links_columns | default: 4 %}
{% assign hide_parent_links = page.hide_parent_links %}
{% assign breadcrumbs = page.breadcrumbs %}
{% assign post_date = page.date %}
{% assign page_lead = page.lead %}

<!-- HERO -->
<div class="lv-hero-wrapper">
    <div class="lv-hero has-height-preset-1">
        <div class="lv-hero-item" style="background-image: url('{{ hero }}')"></div>
    </div>
</div>

{% unless breadcrumbs == false %}
	{% include snippets/breadcrumb.html %}
{% endunless %}

<div class="spacer mb-4 mb-md-5"></div>

<!-- PAGE HEADER -->
<div class="page-header">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 text-center">

				{% if post_date %}
					<p><date><i class="fa fa-calendar-o"></i>&nbsp; {{ page.date | date: "%A %-d %B %Y" }}</date></p>
				{% endif %}

				<h1>{{ page.title }}</h1>
				<div class="divider"></div>

				{% if page_lead %}
					<p class="lead">{{ page.lead }}</p>
				{% endif %}

			</div>
		</div>
	</div>
</div>

<!-- PAGE CONTENT -->
<section class="page-content">
	{{ content }}
</section>

{% unless hide_parent_links %}
	<!-- PARENT LINKS -->
	<section class="section is-light text-center">
		<div class="container">

			<!-- HEADER -->
			<h3 class="h2 text-capitalize">
				{% assign crumbs = page.url | split: '/' %}
				{% for crumb in crumbs offset: 1 %}
				    {% if forloop.first %}
						{{ crumb | replace:'-',' ' | replace: 'and', '&' }}
				    {% endif %}
				{% endfor %}
			</h3>

			<div class="spacer my-4"></div>

			<!-- GRID CHILDREN -->
			<ul class="block-grid-xs-1 block-grid-md-3 block-grid-lg-{{parent_links_columns}} block-grid-condensed">
			    {% for item in parent_links %}
			        <li>
			            <a class="btn-tile" href="{{ item.url }}">
			                <img width="100%" src="/assets/img/content/projects/project-{{forloop.index}}.jpg" alt="{{ item.title }}">
			                <span class="btn-tile-bg" style="background-image: url(/assets/img/content/projects/project-{{forloop.index}}.jpg)"></span>
			                <div class="btn-tile-overlay">
			                    <h3 class="btn-tile-header">{{ item.title }}</h3>
			                </div>
			            </a>
			        </li>
			    {% endfor %}
			</ul>
		</div>
	</section>
{% endunless %}