---
layout: base__page
---

{% assign wysiwyg_1 = page.wysiwyg_1 %}
{% assign wysiwyg_2 = page.wysiwyg_2 %}

<div class="spacer mt-4 my-md-3"></div>

<!-- FEATURE PANEL -->
<section class="section has-panel-feature" style="background-image: url(/assets/img/layout/section-bg-2.jpg)">
	<div class="container">
	    <div class="row no-gutters">
	        <div class="col-md-8 col-lg-6">
	            <div class="panel-feature panel-wysiwyg">
	                {{ content }}
	            </div>
	        </div>
	    </div>
	</div>
</section>

<div class="spacer my-md-4"></div>

<!-- BODY -->
<section class="section pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-4">
				{{ wysiwyg_1 }}
			</div>
			<div class="col-md-6">
				{{ wysiwyg_2 }}
			</div>
		</div>
	</div>
</section>