---
layout: base__page
---

{% assign about = site.data.sitemap[1].children %}

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 pr-lg-3 pr-xl-5">
				{{ content }}
				<div class="spacer mb-4"></div>
			</div>
			<div class="col-lg-6">

				<!-- CATEGORIES -->
				<ul class="block-grid-xs-1 block-grid-md-2">
					{% for item in about %}
						<li>
							<a class="btn-tile" href="{{ item.url }}">
								<img width="100%" src="/assets/img/content/projects/project-{{forloop.index}}.jpg" alt="{{ item.title }}">
								<span class="btn-tile-bg" style="background-image: url(/assets/img/content/projects/project-{{forloop.index}}.jpg)"></span>
								<div class="btn-tile-overlay">
									<h3 class="btn-tile-header">{{ item.title }}</h3>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>
</section>