---
layout: base__page
---

<div class="spacer mt-4 my-md-3"></div>

<!-- FEATURE PANEL -->
<section class="section has-panel-feature" style="background-image: url(/assets/img/layout/section-bg-2.jpg)">
	<div class="container">
	    <div class="row no-gutters">
	        <div class="col-md-8 col-lg-6">
	            <div class="panel-feature">
	                {{ content }}
	            </div>
	        </div>
	    </div>
	</div>
</section>

<div class="spacer my-md-4"></div>

<!-- BODY -->
<section class="section pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>Quality Assurance</h4>
				<p>Erbas and Associates are Quality Endorsed Company fully certified externally by SAI Global Assurance Services on 12 May 2003 for full compliance with the requirements of International Standard AS/NZS ISO 9001:2000. (Certificate No.: QEC20454)</p>
			</div>
			<div class="col-md-6">
				<h4>Insurances</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
			</div>
		</div>
	</div>
</section>