---
layout: base__page
---

{% assign settings = site.data.settings %}
{% assign offices = settings.offices %}

<div class="container">
	<div class="row">
		{% for item in offices %}
			<div class="col-md-4">
				<h2 class="h4 mb-4">{{ item.title }}</h2>
				<p class="d-flex"><i class="mr-2 fa fa-map-marker"></i> <span>{{ item.address }}</span></p>
				<p class="d-flex"><i class="mr-2 fa fa-phone"></i> <span>{{ item.phone }}</span></p>
				<p class="d-flex"><i class="mr-2 fa fa-envelope"></i> <span>{{ item.email }}</span></p>

				<div class="spacer mb-4"></div>

				<!-- GOOGLE MAP -->
				{% include google_map.html address=item.address %}
			</div>
		{% endfor %}
	</div>
</div>