---
layout: base__page
---

{% assign parent_links = site.data.sitemap[page.parent_index].children %}

<section class="section">
	<div class="container">

		<!-- CATEGORIES -->
		<ul class="block-grid-xs-1 block-grid-md-3">
		    {% for item in parent_links %}
		        <li>
		            <a class="btn-tile" href="{{ item.url }}">
		                <img width="100%" src="/assets/img/content/projects/project-{{forloop.index}}.jpg" alt="{{ item.title }}">
		                <span class="btn-tile-bg" style="background-image: url(/assets/img/content/projects/project-{{forloop.index}}.jpg)"></span>
		                <div class="btn-tile-overlay">
		                    <h2 class="btn-tile-header">{{ item.title }}</h2>
		                </div>
		            </a>
		        </li>
		    {% endfor %}
		</ul>

	</div>
</section>

<!-- FEATURED PROJECT -->
<section class="section has-panel-feature" style="background-image: url(/assets/img/layout/section-bg-1.jpg)">
    <div class="container">
        <div class="row no-gutters justify-content-end">
            <div class="col-md-6">
                <div class="panel-feature text-right">
                    <h3>Featured Project</h3>
                    <h4>Project Title Goes Here</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p><a class="btn btn-outline-secondary" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="spacer mb-5"></div>