---
layout: base__page
---

{% assign parent_links = site.data.sitemap[page.parent_index].children %}

<section class="section">
	<div class="container">

		<!-- CATEGORIES -->
		<ul class="block-grid-xs-1 block-grid-md-3">
		    {% for item in parent_links %}
		        <li>
		            <a class="btn-tile" href="{{ item.url }}">
		                <img width="100%" src="/assets/img/content/projects/project-{{forloop.index}}.jpg" alt="{{ item.title }}">
		                <span class="btn-tile-bg" style="background-image: url(/assets/img/content/projects/project-{{forloop.index}}.jpg)"></span>
		                <div class="btn-tile-overlay">
		                    <h2 class="btn-tile-header">{{ item.title }}</h2>
		                </div>
		            </a>
		        </li>
		    {% endfor %}
		</ul>

	</div>
</section>