/*
    FONTS.CSS

    - Last updated: 13.03.17

    This CSS resource incorporates links to font software which is the valuable copyrighted
    property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
    redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
    Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$font-path: "/assets/fonts" !default;

//-----------------------------------------------------------------
// PROXIMA NOVA
//-----------------------------------------------------------------

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=a57c8bb2-162e-4d45-8b33-868fa5901419");

//=========================================
// NORMAL
//=========================================

@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: normal;
    src: url('#{$font-path}/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix') format('eot');
    src: local('☺'),
        url('#{$font-path}/700cfd4c-3384-4654-abe1-aa1a6e8058e4.woff2') format('woff2'),
        url('#{$font-path}/9908cdad-7524-4206-819e-4f345a666324.woff') format('woff'),
        url('#{$font-path}/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf') format('truetype'),
        url('#{$font-path}/c9e387df-c0d3-42e1-8de6-78c41f68594c.svg#c9e387df-c0d3-42e1-8de6-78c41f68594c') format('svg');
}

//=========================================
// REGULAR
//=========================================

@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 300;
    src: url('#{$font-path}/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix') format('eot');
    src: local('☺'),
        url('#{$font-path}/700cfd4c-3384-4654-abe1-aa1a6e8058e4.woff2') format('woff2'),
        url('#{$font-path}/9908cdad-7524-4206-819e-4f345a666324.woff') format('woff'),
        url('#{$font-path}/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf') format('truetype'),
        url('#{$font-path}/c9e387df-c0d3-42e1-8de6-78c41f68594c.svg#c9e387df-c0d3-42e1-8de6-78c41f68594c') format('svg');
}

//=========================================
// BOLD
//=========================================

@font-face{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 500;
    src: url('#{$font-path}/b247e158-e647-4a3d-9637-944de5124043.eot?#iefix') format('eot');
    src: local('☺'),
        url('#{$font-path}/bc0668e2-e5c8-45ce-954d-3b998c6b6803.woff2') format('woff2'),
        url('#{$font-path}/2ef5ecda-1772-45e2-843f-a13f5d76ed3a.woff') format('woff'),
        url('#{$font-path}/33cf10ca-a6bb-4888-a320-d38720c9847b.ttf') format('truetype'),
        url('#{$font-path}/3428a0e6-cb4d-408a-8331-cc78554ab49c.svg#3428a0e6-cb4d-408a-8331-cc78554ab49c') format('svg');
}

//=========================================
//
//=========================================